/* Variables */

:root {
    --color-header-hr-star-footer-bottom: #2C3E50;
    --color-bg-light-green: #1ABC9C;
    --color-title-no-bg: #333333;
    --color-bg-footer-top: #3A546D;
    --color-border-bottom: #CCCCCC;
}

/* common */

*{
    font-family: 'Roboto', sans-serif;
}

h2{
    color: var(--color-title-no-bg);
}




img{
    width: 100%;
    object-fit: cover;
}



.bg_freelancer_primary{
    background-color: var(--color-bg-light-green);
}

.bg_freelancer_secondary{
    background-color: var(--color-header-hr-star-footer-bottom);
}

.bg_hr{
    background-color: var(--color-header-hr-star-footer-bottom);
}

.divisor{
    color:var(--color-header-hr-star-footer-bottom);
}

/* HERO */

.hero_top .hero_image{
    height:260px;
    width: auto;
}

.interruption hr{
    height: 5px;
    width: 15%;
}

/* PORTFOLIO */




/* debug */

.debug nav{
    background-color:var(--color-header-hr-star-footer-bottom);
    height: 88px;
}

/* .debug .hero{
    background-color: var(--color-bg-light-green);
    height: 592px;
} */

.debug .portfolio{
    height:845px;
}

.debug .about{
    background-color: var(--color-bg-light-green);
    height:503px;
}

.debug .about_text{
    background-color: var(--color-border-bottom);
    height:200px;
}

.debug .contact{
    height: 680px;
}

.debug .contact_top, .debug .contact_bottom{
    background-color: var(--color-bg-light-green);
    height:200px;
}

.debug .card{
    background-color: aqua;
    height:100px;
}

.debug .about_text{
    background-color: azure;
}

.debug .footer_top{
    background-color: #3A546D;
    height: 228px;
    
}

.debug .location_info, .debug .web_info, .debug .freelancer_info {
    background-color: antiquewhite;
    height:50px;
}

.debug .footer_bottom{
    background-color: var(--color-header-hr-star-footer-bottom) ;
    height:114px;
}